{{ define "main" }}
<div class="container">
  <div class="section">
    <div class="content">
      <h1>{{ .Title }}</h1>
      {{ .Content }}
    </div>
    <div class="columns is-mobile is-multiline">
      {{ range .Data.Terms.ByCount }}
      <div class="column is-half-mobile is-one-third-tablet is-one-quarter-desktop is-one-fifth-widescreen">
        <div class="card">
          <div class="card-image">
            <a href="{{ .Page.Permalink }}">
              <figure class="image is-3by2">
                {{ $firstChild := index .Pages 0 }}
                {{ with $firstChild.Params.images }}
                <img src="{{ index . 0 }}" alt="">
                {{ end }}
              </figure>
            </a>
          </div>
          <div class="card-content has-text-centered">
            <div>
              <a class="title is-5 is-size-6-mobile" href="{{ .Page.Permalink }}">{{ .Page.Title }}</a>
              {{ $pageCount := len .Pages }}
              <p>{{ $pageCount }} post{{ if ne $pageCount 1 }}s{{ end }} </p>
            </div>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</div>
{{ end }}
