/* Style the logo text */
.logo h2 {
    font-family: Impact, Haettenschweiler, 'Arial Bold', sans-serif;
    font-size: 1.5em;
}

/* Make sure that the footer is at the bottom of the page  */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

/* Basic layout  */
.max-800px {
    max-width: 800px;
}

/* Post metadata and author image */
.author-image {
    object-fit: cover;
    border-radius: 50%;
    width: 48px;
    height: 48px;
}

/* Featured image */
.title-image {
    padding-bottom: 2em;
}

/* Hero content */
.narrow-background {
    display: table;
    padding: 0.1em;
}

/* Related pages */
.card {
    height: 100%;
}

/* Social sharing buttons */
ul.share-buttons{
    list-style: none;
    padding: 0;
}

ul.share-buttons li{
    display: inline;    
}

