{{ define "main" }}
<div class="hero is-dark is-medium" {{ with .Params.heroimage }}
    style="background: url({{ . }}) center center; background-size:cover;" {{ end }}>
    <div class="hero-head">
        <div class="container">
            <h1 class="title is-2 has-background-primary narrow-background">
                {{ .Title }}
            </h1>
            {{ with .Params.herotext }}
            <h2 class="title subtitle is-4 has-background-primary narrow-background">
                {{ . }}
            </h2>
            {{ end }}
        </div>
    </div>
    <div class="hero-body">
<div class="hero-foot">
    {{ with .Params.buttons }}
    <nav class="tabs">
        <div class="container">
            <ul>
                {{ range . }}
                <li>
                    <a class="has-background-primary" {{ with .id }}id="{{ . }}" {{ end }}
                        {{ with .href }}href="{{ . | safeURL }}" {{ end }}>
                        <span class="icon"><i class="{{ .icon }}" aria-hidden="true"></i></span>
                        <span>{{ .name }}</span>
                    </a>
                </li>
                {{ end }}
            </ul>
        </div>
    </nav>
    {{ end }}
</div>
    </div>
</div>
{{ end }}
