{{ define "main" }}
<article>
  <div class="columns is-centered">
    <div class="column max-800px">
      {{ if and (in (string .Site.BaseURL) "localhost") (eq .Params.seo "true") }}
      {{ partial "seo-check.html" . }}
      {{ end }}
      <figure class="title-image">
	<img src="{{ with .Params.images }}{{ index . 0 | absURL }}{{ end }}"
	     alt="{{ .Description }}" title="{{ .Description }}">
      </figure>
      <h1 class="title is-1 pb-2">{{ .Title }}</h1>
      <div class="columns">
	{{ partial "author.html" . }}
	<div class="column">     
	  <div class="tags is-pulled-left">
	    {{ $root := .Site.BaseURL }}
	    {{ range .Params.categories }}
	    <a class="tag is-primary" href="{{ $root }}categories/{{ . | urlize}}/">{{ replace . "-" " " }}</a>
	    {{ end }}
	  </div>
          <div class="tags is-pulled-right">
	    {{ range .Params.tags }}
	    <a class="tag is-info" href="{{ $root }}tags/{{ . | urlize}}/">{{ replace . "-" " " }}</a>
	    {{ end }}
	  </div>
	</div>
      </div>
      <div class="content">
	{{ .Content }}
	{{ partial "social-share.html" . }}
      </div>
    </div>
  </div>
</article>
{{ $related := .Site.RegularPages.Related . | first 3 }}
{{ if (ne (len $related) 0) }}
<section class="section">
  <div class="columns is-centered">
    <div class="column max-800px">
      <div class="content">
	<h2>You might also enjoy reading these articles</h2>
      </div>
      <div class="columns">
        {{ range $related }}
        <div class="column is-one-third">
          <div class="card">
	    <div class="card-image">
              <figure class="image is-3by2">
		<a href="{{ .Permalink }}">
		  <img src="{{ with .Params.images }}{{ index . 0 }}{{ end }}" alt="{{ .Description }}"></a>
              </figure>
	      <strong>{{ .Title }}</strong>
	    </div>
	  </div>
        </div>
        {{ end }}
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ if ne .Params.comments "false" }}
<aside class="columns is-centered">
  <div class="column max-800px">
    <div class="content">
      {{ template "_internal/disqus.html" . }}
    </div>
  </div>
</aside>
{{ end }}
{{ end }}
