{{ define "main" }}
<article>
  <div class="columns is-centered">
    <div class="column max-800px">
      {{ if and (in (string .Site.BaseURL) "localhost") (eq .Params.seo "true") }}
      {{ partial "seo-check.html" . }}
      {{ end }}
      <figure class="title-image">
	<img src="{{ with .Params.images }} {{ index . 0 }} {{ end }}" alt="{{ .Description }}">
      </figure>
      <h1 class="title is-1 pb-2">{{ .Title }}</h1>
      <div class="columns is-vcentered">
	{{ partial "author.html" . }}
      </div>
      <div class="content">
	{{ .Content }}
	{{ partial "social-share.html" . }}
      </div>
      <div class="section">
	<div class="columns is-multiline">
	  {{ range .Paginator.Pages }}
	  <div class="column is-half">
            {{ partial "postcard.html" . }}
	  </div>
	  {{ end }}
	</div>
	<div class="columns is-centered">
	  <div class="column is-narrow">
            {{ partial "pagination.html" . }}
	    {{ partial "social-share.html" . }}
	  </div>
	</div>
      </div>
    </div>
  </div>
</article>
{{ end }}
