<footer class="footer">
  <div class="container">
    <div class="columns has-text-centered">
      {{ range .Site.Menus.footer }}
      <div class="column is-narrow">
        <a href="{{ .URL }}" class="">{{ .Name }}</a>
      </div>
      {{ end }}
    </div>
  </div>
  <!-- Parse LaTeX formulas with MathJax -->
  <!-- set math = true in the page -->
  {{ if .Params.math }}
  <script type="text/javascript"
	  src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
  </script>
  {{ end }}
</footer>
