<nav class="navbar">
  <div class="navbar-brand">
    <a class="navbar-item" href="{{ .Site.BaseURL }}" title="{{ .Site.Title }}">
      <img src="{{ .Site.Params.Logo | absURL }}" alt="{{ .Site.Params.description }}">
    </a>
    <a href="{{ .Site.BaseURL }}" title="{{ .Site.Params.description }}" class="navbar-item">
      <span class="is-size-4">{{ .Site.Title }}</span>
    </a>
    <a href = "{{ .Site.BaseURL }}contact" class="navbar-item" title="RSS feed">
      <span class="icon fa-lg has-text-dark"><i class="fa fa-envelope"></i></span>
    </a>
    <a href = "{{ .Site.BaseURL }}index.xml" class="navbar-item" title="RSS feed">
      <span class="icon fa-lg has-text-dark"><i class="fa fa-rss"></i></span>
    </a>
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div class="navbar-menu navbar-end">
    {{- range .Site.Menus.main -}}
    <a href="{{ .URL | absURL }}" class="navbar-item">{{ .Name }}</a>
    {{ end }}
  </div>
</nav>
<script>
  $(document).ready(function () {
      $(".navbar-burger").click(function () {
          $(".navbar-burger").toggleClass("is-active");
          $(".navbar-menu").toggleClass("is-active");
      })
  })
</script>
