<table class="table table is-striped is-hoverable">
  <tr>
    <th>Title</th>
    <th>Category</th>
    <th>Tag(s)</th>
    <th>Title length (40-65)</th>
    <th>Meta description (120-156)</th>
    <th>Featured image</th>
    <th>Content &gt; 300</th>
    <th>Keyphrase</th>
  </tr>
  {{ range .Site.RegularPages }}
  <tr class ="has-text-small">
    <td><a href="{{ .Permalink }}">{{ .Title }}</a></td>
    <td>{{ range .Params.categories }}{{ replace . "-" " " }} {{ end }}</td>
    <td>{{ range .Params.tags }}{{ replace . "-" " " }} {{ end }}</td>
    <td class="{{ if (lt (len .Title) 40) }} has-text-warning
	       {{ else if (gt (len .Title) 65) }} has-text-danger
	       {{ else }} has-text-success
	       {{ end }}">{{ len .Title }}</td>
    <td class="{{ if eq (len .Description) 0 }} has-text-danger
	       {{ else if or (lt (len .Description) 120) (gt (len .Description) 156) }} has-text-warning
	       {{ else }} has-text-success
	       {{ end }}">{{ len .Description }}</td>
    <td class="{{ if .Params.images }}has-text-success
	       {{ else }} has-text-danger
	       {{ end }}">{{ if .Params.images }} Yes {{ else }} No {{ end }}</td>
    <td></td>
    <td class="{{ if (lt (countwords .Params.Keyphrase) 1) }} has-text-danger
	       {{ else if (gt (countwords .Params.Keyphrase) 6) }} has-text-warning
	       {{ else }} has-text-success
	       {{ end }}">{{ lower .Params.Keyphrase }}</td>
  </tr>
  {{ end }}
</table>
